.nav_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 .5rem;
    width: 100%;
    min-height: 12vh;
    /* background-color: #535bf2; */
    background-color: #E61C23;
}

.nav_container h1 {
    color: whitesmoke;
    font-size: 2.5rem;
}

.nav_form {
    display: flex;
    align-items: center;
}

button {
    font-size: .8rem !important;
}

@media screen and (max-width:360px) {
    .nav_container {
        min-height: 20vh;
    }

    .nav_container h1 {
        font-size: 2rem;
    }
}

@media screen and (min-width:650px) {
    .nav_container {
        justify-content: space-between;
        min-height: 10vh;
    }
}